<ng-template #templateTitle let-text="title">
    <h4 class="p-2 bg-success text-white">
       {{ text }}
       
    </h4>
    <fa name="car" animation="spin"></fa>
</ng-template>

<ng-template [ngTemplateOutlet]="templateTitle"
      [ngTemplateOutletContext]="{title:'Header'}"></ng-template>


<div class="container">
    <div id="productEntryForm" class="col-sm-12 row">

        <div class="col-sm-6 col">
            <label for="pid">Enter Product Id:</label>
        </div>
        <div class="col-sm-6 col">
            <input type="text" name="pid" id="pid" #pid>

        </div>
    </div>
    <div id="productEntryForm" class="col-sm-12 row">

        <div class="col-sm-6 col">
            <label for="pname">Enter Product Name:</label>
        </div>

        <div class="col-sm-6 col">
            <input type="text" name="pname" #pname>
        </div>
    </div>
    <div id="saveProduct" class="col-sm-12 row">
        <div class="col" style="text-align: center">
            <button class="btn-primary" (click)="saveProduct(pid.value,pname.value)">Save Product</button>
        </div>
    </div>
<div [ngSwitch]="done">
    <div  *ngSwitchCase="true">Matched True and Yes</div>
    <div  *ngSwitchDefault>Default</div>
   

</div>

    <div id="productListing" class="col-sm-12 row">
        <div class="col-sm-12 row" *ngFor="let product of productArray">
            id:{{product.pid}} <br />
            name:{{product.pname}}
        </div>
    </div>
</div>

<ng-template [ngTemplateOutlet]="templateTitle"
[ngTemplateOutletContext]="{title:'Footer'}"></ng-template>



