<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="position:absolute; text-align:center; top:30%;left:30%; width:40%; height: 40%; background-color: blanchedalmond ">
   <app-scalculator></app-scalculator> 
</div> -->

<select (change)="changeMonth($event)" name="month" id="month">
  <option *ngFor="let month of monthsArray"  value="{{month}}">{{month}}</option>
</select>

<app-product-entry></app-product-entry>

<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Button dropdown <span class="caret"></span>  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
     <li class="divider dropdown-divider"></li>
    <li rote="menuitem" class="dropdown-item" aria-current="page" routerLink='/'>Home</li>
    <li role="menuitem" class="dropdown-item"  routerLink='/login'>Login</li>
    </ul></div>


<router-outlet></router-outlet>
