/* You can add global styles to this file, and also import other style files */

body{
    height: 900px;
    width:900px;
}

.blueBold{
    color:blue;
    font-weight: bold
}

.blueBoldDisabled{
    color:#A9A9A9;
    font-weight: bold
}
